if BOARD_ETZEE_101

config ZMK_SPLIT
    default y

if IS_ORIGIN

    config ZMK_KEYBOARD_NAME
        default "etzee 101"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

endif # IS_ORIGIN

if IS_TERMINAL

# empty for now

endif # IS_TERMINAL

endif # BOARD_ETZEE_101
