if BOARD_ETZEE_101

config ZMK_SPLIT
    default y

if IS_CENTRAL

    config ZMK_KEYBOARD_NAME
        default "etzee 101"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

endif # IS_CENTRAL

if IS_PERIPHERAL

# empty for now

endif # IS_PERIPHERAL

endif # BOARD_ETZEE_101
